.container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.list{
    display: flex;
    flex-direction: column;
    width: 150px;
}
.list li{
    gap:20%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.delete{
    cursor: pointer;
    text-align: center;
    width: 20px;
    border-radius: 50%;
    display: block;
    background-color: lightskyblue;
}
.delete:hover{
    color: red;
    background-color: grey;
}